//- Костя
header.header
    .header__top
        .container
            .d-flex.justify-content-between.align-items-center
                .logo
                    a(href=NULL).logo__link
                        img(src="./img/logo.svg", alt="").logo__img
                .d-flex.align-items-center
                    .city
                        .city__icon
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0008 0C6.00687 0 2.75757 3.2493 2.75757 7.2432C2.75757 12.1998 9.23956 19.4763 9.51554 19.7836C9.77476 20.0723 10.2273 20.0718 10.4861 19.7836C10.7621 19.4763 17.2441 12.1998 17.2441 7.2432C17.244 3.2493 13.9947 0 10.0008 0ZM10.0008 18.3488C7.81929 15.7575 4.06194 10.645 4.06194 7.24328C4.06194 3.96852 6.72608 1.30438 10.0008 1.30438C13.2755 1.30438 15.9397 3.96852 15.9397 7.24324C15.9396 10.6451 12.1829 15.7566 10.0008 18.3488Z" fill="#4B2507"/>
                                <path d="M10.0008 3.599C7.99133 3.599 6.35657 5.2338 6.35657 7.24326C6.35657 9.25271 7.99137 10.8875 10.0008 10.8875C12.0102 10.8875 13.645 9.25271 13.645 7.24326C13.645 5.2338 12.0102 3.599 10.0008 3.599ZM10.0008 9.58314C8.71055 9.58314 7.66094 8.53349 7.66094 7.24326C7.66094 5.95302 8.71059 4.90337 10.0008 4.90337C11.291 4.90337 12.3406 5.95302 12.3406 7.24326C12.3406 8.53349 11.291 9.58314 10.0008 9.58314Z" fill="#4B2507"/>
                            </svg>
                        .city__text Ваше місто: 
                            b Миколаїв
                    a(href=NULL).bag
                        .bag__icon
                            <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                    <path d="M36.0334 12.5054H34.0117C33.9963 12.4882 33.9818 12.4705 33.9653 12.454L22.9436 1.43223C22.447 0.935593 21.6417 0.935593 21.1451 1.43223C20.6485 1.92887 20.6485 2.73409 21.1451 3.23073L30.4197 12.5053H8.58192L17.8566 3.23073C18.3532 2.73409 18.3532 1.92887 17.8566 1.43223C17.36 0.935593 16.5548 0.935593 16.0581 1.43223L5.03635 12.454C5.01982 12.4705 5.00535 12.4883 4.98988 12.5054H2.96828C1.33203 12.5054 0.000854492 13.8366 0.000854492 15.4728V17.1684C0.000854492 18.727 1.20856 20.0087 2.73725 20.1269L5.17475 34.7522C5.48272 36.5994 7.06534 37.9402 8.9381 37.9402H30.4361C32.3225 37.9402 33.9462 36.5319 34.213 34.6645L36.2901 20.1248C37.8066 19.9943 39.0008 18.7181 39.0008 17.1684V15.4728C39.0009 13.8366 37.6697 12.5054 36.0334 12.5054ZM36.4574 17.1684C36.4574 17.4022 36.2672 17.5923 36.0335 17.5923C35.643 17.5923 23.8733 17.5923 23.3162 17.5923C22.6138 17.5923 22.0444 18.1617 22.0444 18.8641C22.0444 19.5664 22.6138 20.1359 23.3162 20.1359H33.7194L31.6952 34.3049C31.6062 34.9274 31.065 35.3967 30.4362 35.3967H8.9381C8.31387 35.3967 7.78631 34.9498 7.68363 34.3341L5.31735 20.1359H15.6856C16.3879 20.1359 16.9574 19.5665 16.9574 18.8641C16.9574 18.1618 16.388 17.5923 15.6856 17.5923C15.1277 17.5923 3.35706 17.5923 2.96828 17.5923C2.73451 17.5923 2.54439 17.4021 2.54439 17.1684V15.4728C2.54439 15.239 2.73459 15.0489 2.96828 15.0489H36.0335C36.2673 15.0489 36.4574 15.2391 36.4574 15.4728V17.1684Z" fill="#4B2507"/>
                                    <path d="M11.8704 22.6793C11.1681 22.6793 10.5986 23.2487 10.5986 23.9511V31.5815C10.5986 32.2838 11.168 32.8533 11.8704 32.8533C12.5728 32.8533 13.1422 32.2839 13.1422 31.5815V23.951C13.1422 23.2487 12.5728 22.6793 11.8704 22.6793Z" fill="#4B2507"/>
                                    <path d="M19.5009 22.6793C18.7986 22.6793 18.2291 23.2487 18.2291 23.9511V31.5815C18.2291 32.2838 18.7985 32.8533 19.5009 32.8533C20.2032 32.8533 20.7726 32.2839 20.7726 31.5815V23.951C20.7726 23.2487 20.2032 22.6793 19.5009 22.6793Z" fill="#4B2507"/>
                                    <path d="M27.1313 22.6793C26.429 22.6793 25.8595 23.2487 25.8595 23.9511V31.5815C25.8595 32.2838 26.4289 32.8533 27.1313 32.8533C27.8336 32.8533 28.403 32.2839 28.403 31.5815V23.951C28.403 23.2487 27.8336 22.6793 27.1313 22.6793Z" fill="#4B2507"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="39" height="39" fill="white" transform="translate(0.000854492)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        .bag__count 0
    .header__bottom
        .container
            .d-flex.justify-content-between.align-items-center
                nav.nav
                    button.nav__burger
                        span
                        span
                        span
                    ul.nav__list
                        each val in ['Про торт', 'Замовити', 'Відгуки', 'Наша історія', 'Новини', 'Контакты']
                            li.nav__item: a(href=NULL).nav__link= val
                .social
                    ul.social__list
                        li.social__item: a(href=NULL).social__link
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                    <path d="M3.37 23H10.8719V14.8242H8.17664V12.1289H10.8719V8.75977C10.8719 6.902 12.3833 5.39062 14.2411 5.39062H17.6102V8.08594H14.9149C14.1718 8.08594 13.5673 8.69045 13.5673 9.43359V12.1289H17.4886L17.0394 14.8242H13.5673V23H19.6317C21.4895 23 23.0009 21.4886 23.0009 19.6309V3.36914C23.0009 1.51138 21.4895 0 19.6317 0H3.37C1.51223 0 0.000854492 1.51138 0.000854492 3.36914V19.6309C0.000854492 21.4886 1.51223 23 3.37 23ZM1.34851 3.36914C1.34851 2.25452 2.25537 1.34766 3.37 1.34766H19.6317C20.7463 1.34766 21.6532 2.25452 21.6532 3.36914V19.6309C21.6532 20.7455 20.7463 21.6523 19.6317 21.6523H14.9149V16.1719H18.1811L19.0795 10.7812H14.9149V9.43359H18.9579V4.04297H14.2411C11.6402 4.04297 9.52429 6.15886 9.52429 8.75977V10.7812H6.82898V16.1719H9.52429V21.6523H3.37C2.25537 21.6523 1.34851 20.7455 1.34851 19.6309V3.36914Z" fill="#4B2507" />
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="23" height="23" fill="white" transform="translate(0.000854492)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        li.social__item: a(href=NULL).social__link
                            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                    <path d="M3.70337 23H19.9651C21.8229 23 23.3342 21.4886 23.3342 19.6309V3.36914C23.3342 1.51138 21.8229 0 19.9651 0H3.70337C1.8456 0 0.334229 1.51138 0.334229 3.36914V19.6309C0.334229 21.4886 1.8456 23 3.70337 23ZM1.68188 3.36914C1.68188 2.25452 2.58875 1.34766 3.70337 1.34766H19.9651C21.0797 1.34766 21.9866 2.25452 21.9866 3.36914V19.6309C21.9866 20.7455 21.0797 21.6523 19.9651 21.6523H3.70337C2.58875 21.6523 1.68188 20.7455 1.68188 19.6309V3.36914Z" fill="#4B2507"/>
                                    <path d="M11.8342 17.5645C15.1781 17.5645 17.8987 14.8439 17.8987 11.5C17.8987 8.15613 15.1781 5.43555 11.8342 5.43555C8.49036 5.43555 5.76978 8.15613 5.76978 11.5C5.76978 14.8439 8.49036 17.5645 11.8342 17.5645ZM11.8342 6.7832C14.4351 6.7832 16.551 8.89909 16.551 11.5C16.551 14.1009 14.4351 16.2168 11.8342 16.2168C9.23332 16.2168 7.11743 14.1009 7.11743 11.5C7.11743 8.89909 9.23332 6.7832 11.8342 6.7832Z" fill="#4B2507"/>
                                    <path d="M18.5725 6.7832C19.6871 6.7832 20.594 5.87634 20.594 4.76172C20.594 3.64709 19.6871 2.74023 18.5725 2.74023C17.4579 2.74023 16.551 3.64709 16.551 4.76172C16.551 5.87634 17.4579 6.7832 18.5725 6.7832ZM18.5725 4.08789C18.944 4.08789 19.2463 4.39024 19.2463 4.76172C19.2463 5.1332 18.944 5.43555 18.5725 5.43555C18.201 5.43555 17.8987 5.1332 17.8987 4.76172C17.8987 4.39024 18.201 4.08789 18.5725 4.08789Z" fill="#4B2507"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="23" height="23" fill="white" transform="translate(0.334229)"/>
                                    </clipPath>
                                </defs>
                            </svg>                    