//- Наталья
.news
    .container
        .news__header
            h2 Останні новини
        .news__main
            .row
                .col.col-4.col-xl-4.col-lg-6.col-md-12
                    a(href=NULL)
                        img(src="./img/news_img01.png", alt="")
                    a(href=NULL).news__link 
                        h3 Розкрито оригінальний рецепт «Миколаївського Наполеону»
                    p Успішний підприємець, організатор конкурсу «Миколаївський Наполеон» та перший переможець всеукраїнського проекту «Король десертів» ...
                .col.col-4.col-xl-4.col-lg-6.col-md-12
                    a(href=NULL)
                        img(src="./img/news_img02.png", alt="")
                    a(href=NULL).news__link 
                        h3 «Кондитер по призванию» из Николаева принимает участие в шоу «Король десертов».
                    p Успішний підприємець, організатор конкурсу «Миколаївський Наполеон» та перший переможець всеукраїнського ...
                .col.col-4.col-xl-4.col-lg-6.col-md-12
                    a(href=NULL)
                        img(src="./img/news_img03.png", alt="")
                    a(href=NULL).news__link 
                        h3 Кондитер з Миколаєва переміг в шоу «Король десертів»
                    p Кондитер з Миколаєва Олег Чередниченко став переможцем шоу «Король десертів» на телеканалі 1 + 1. Фінал шоу був показаний сьогодні, 24 жовтня ...